fastapi
uvicorn
python-multipart
transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchaudio
librosa
soundfile
fuzzywuzzy
python-Levenshtein
scikit-learn
spacy
nltk
numpy
google-genai
python-dotenv
